a.buttons{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.previous {
    background-color: #696969;
    color: white;
}

.next {
    background-color: #696969;
    color: white;
}

.round {
    border-radius: 50%;
}

pre{
    text-align: center;
    white-space: pre-line;
    width: 75px;
    display: inline;
    margin: 0px 8px;
}

.tui-full-calendar-month-creation-guide{
    border: none!important;
}

.modal_inputs{
    font-size: 14px!important;
}

#modal_view{
    position: absolute;
    font-weight: 2.5;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    clear: both;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.save_button{
    width: 96px;
    height: 36px;
    border-radius: 40px;
    background-color: #696969;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border: none;
    margin-right: 8px;
}

.modal_view_label{
    font-size: 15px;
    margin-right: 3px;
    font-weight: normal;
}

/*#calendar,#calendar-navigation{
    margin-left: 300px;
}*/

input[type=datetime-local]{
  line-height: inherit;
}

#group_meeting_attendees{
  width: 150px;
}

#group_meeting_attendees option{
  font-size: 14px;
}

/*    PROJEKT    */

@media (min-width: 1000px){
    #nav-menu {
        /*text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    z-index: 1030;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;*/
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        z-index: 1030;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
  #nav-menu .navbar-href{
  	display: flex;
    margin-top: 20vh;
    padding: 10px;
    font-size: 40px;
    width: 120px;
    height: 100px;
    line-height: inherit;
    white-space: nowrap;
  }
  .profile-img{
  	max-width: 120px;
    max-height:  100px;
    width: 120px;
    height:  100px;
    border-radius: 50%;
    text-align: center;
  }
  .span-name{
  	display: none!important;
  }
  .nav-button{
  	display: none;
  }
    /* The navigation menu links */
    .nav-menu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
 /* #nav-menu #main-menu{
  	text-align: center;
  }
   #nav-menu #main-menu .nav-ul{
  	flex-direction: column;
    width: 100%;
    padding-left: 0px;
    list-style-type: none;
  }*/
/*  #nav-menu #main-menu .nav-ul .nav-li{
    padding-top: 5px;
    padding-bottom: 5px;
  }*/
  #nav-menu #main-menu .nav-ul .nav-li .nav-li-a{
  	font-weight: 800;
    letter-spacing: .05rem;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
  }
  .active{
  	color: #a89999!important;
  }
  #main-body{
  	padding-left: 350px;
  	padding-right: 50px;
  }
 /* #calendar,#calendar-navigation{
    margin-left: 300px;
  }*/
}
.navbar{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
  padding: 8px 16px;
  background-color: #696969;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
body {
    line-height: 200%;
    /*overflow-x: hidden;*/
    margin: 0;
    background-color: white;
    padding-left: 10%;
    font-family: "Helvetica", Helvetica, serif;
    text-align: left;
    margin: 0 0 0 0;
    color: black;
    font-size: 20px;
}
.container {
   /* scroll-behavior: smooth;*/
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    /*scroll-snap-type: y mandatory;*/
}
.section {
    color: black;
    line-height: 400%;
    /*display: flex;*/
    align-content: center;
    /*width: 70%;*/
    height: 100vh;
    background-size: cover;
   /* scroll-snap-align: start;*/
}
.link{
	text-decoration: none;
	color: #5e5e5e;
	font-weight: normal;
}
#about{
  height: 60vh;
  padding-top: 25vh;
}
#detail{
  padding-top: 15vh;
}
#about span a{
  text-decoration: none;
  color: #696969;
}
#education{
  height: 70vh;
  padding-top: 30vh;
}
#skills{
 	height: 70vh;
  padding-top: 30vh;
}
#skills h3{
  display: inline;
}
#skills h3 a:hover{
 	color: #a89999;
}
#interests{
 	height: 70vh;
  padding-top: 30vh;
}
.showMenu{
  display: block!important;
}
.hideMenu{
	display: none;
}
#tools{
	display: none;
}
#proj{
	display: none;
}
.edit{
  color: #696969;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.6;
}

.user_img{
  width: 120px;
  height: 150px;
  border-radius: 10%;
}
.name_error{
  color:red;
  font-size:22px;
  font-weight: 600;
}
@media (max-width: 999px){
	.profile-img{
  	display: none!important;
  }
  .span-name{
  	display: block;
  	font-size: 40px;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 400;
    color: white;
    padding-left: 35px;
  }
  .navbar-href{
  	text-decoration: none;
  }
  .nav-button {
	  background-color: #696969;
	  color: white;
	  padding: 60px;
	  padding-right: 80px;
	  font-size: 60px;
	  border: none;
	  cursor: pointer;
	  background-image: url("../img/menu.png");
	}
	#main-menu {
	  display: none;
	  position: absolute;
	  top: 135px;
	  /*left: 0px;*/
	  width: 100%;
	  background-color: white;
	  min-width: 160px;
	  overflow: auto;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}
	#main-menu li a {
	  color: white;
	  font-size: 30px;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  font-weight: 400;
	}
	#main-menu li a:hover{
		font-size: 30px;
	}
	.show {
		display: block!important;
	}
	#main-body{
  	padding-left: 35px;
  }

  #calendar,#calendar-navigation{
    margin-left: 30px;
  }

  #about{
    font-size: 28px;
  }
  #detail{
    padding-top: 25vh;
    font-size: 28px;
  }
  .edit{
    font-size: 32px;
  }
  .user_img{
    width: 150px;
    height: 200px;
  }
  .fa.fa-user{
    font-size: 140px!important;
  }
  .name_error{
    font-size:28px;
  }

}

/*    PROJEKT KONIEC   */
